.inputWrapper {
  position: relative;
  height: 40px;
  width: 100%;
  background: var(--color-white);
  border: 1px solid var(--color-primary-100);
  border-radius: 4px;
}

.inputWrapper input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 7px;
  padding-top: 20px;
  background: transparent;
  width: 100%;
}

.inputWrapper .placeholder {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-primary-500);
  transform: translateY(-50%);
  transition: 0.2s;
  pointer-events: none;
}

.inputWrapper:focus-within {
  filter: drop-shadow(0px 0px 4px #b8e5e3) drop-shadow(0px 0px 2px #b8e5e3);
}

.inputWrapperNotEmpty .placeholder,
.inputWrapper:focus-within .placeholder {
  top: 7px;
  left: 7px;
  font-size: 9px;
  font-weight: 400;
  color: var(--color-gray-400);
  transform: translateY(0);
}
