.create-journal-page {
}

.create-journal-page .cover {
  background: var(--color-primary-200);
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: 240px;
  width: 100%;
  min-height: 200px;
  height: 360px;
  border-radius: 4px 16px 16px 4px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset -6px -6px 4px 0px rgb(0 0 0 / 15%),
    inset -4px 10px 8px -6px rgb(255 255 255 / 40%);
}

.create-journal-page .cover .cover-spine {
  width: 20px;
  height: 100%;
  box-shadow: 1px 0px 6px rgb(0 0 0 / 25%);
}

.create-journal-page .cover .cover-title {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.create-journal-page form {
  margin-top: 32px;
}

.create-journal-page form .actions {
  margin: 40px auto 0;
  text-align: center;
}
