.create-journal-page .cover {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 240px;
  min-height: 200px;
  height: 360px;
  background: var(--color-primary-200);
  border-radius: 4px 16px 16px 4px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset -6px -6px 4px 0px rgb(0 0 0 / 15%),
    inset -4px 10px 8px -6px rgb(255 255 255 / 40%);
}

.create-journal-page .cover .cover-spine {
  width: 20px;
  height: 100%;
  box-shadow: 1px 0px 6px rgb(0 0 0 / 25%);
}

.create-journal-page .cover .cover-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  padding: 0 20px;
}

.create-journal-page .cover .cover-title {
  width: 100%;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
}

.create-journal-page form {
  margin-top: 32px;
}

.create-journal-page form .actions {
  margin: 40px auto 0;
  text-align: center;
}
