.journals-page .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.journals-page .header .logo-wrapper {
  margin-bottom: 0;
}

.journals-page .journal-list {
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 30px;
}

.journals-page .journal-list > a:nth-child(even) .journal-card {
  background: var(--color-secondary-700);
  color: var(--color-white);
}

.journals-page .journal-list > a:nth-child(odd) .journal-card {
  background: var(--color-secondary-300);
  color: var(--color-black);
}

/* Journals Page - Empty */

.journals-page .journals-empty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.journals-page .journals-empty .content {
  text-align: center;
}

.journals-page .journals-empty .content .person {
  width: 100%;
  max-width: 320px;
}

.journals-page .journals-empty .content > a {
  display: block;
  margin-top: 80px;
}
