.background {
  height: 100%;
  background-image: url('../../assets/logo-icon.svg');
  background-repeat: no-repeat;
  background-size: 40vh;
  background-position: left center;
  background-color: var(--color-primary-200);
  overflow: auto;
}

.container {
  padding-right: 22px;
  padding-left: 22px;
  margin: auto;
  max-width: 375px;
  width: 100%;
}
