.default-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding-top: 48px;
}

.default-page .logo {
  width: 100%;
  max-width: 152px;
  margin-bottom: 40px;
}
