.default-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

.default-page .logo-wrapper {
  display: block;
  margin-bottom: 40px;
}

.default-page .logo {
  width: 100%;
  max-width: 152px;
}

.default-page .header > a {
  margin: 0;
  text-decoration: none;
}

.default-page .header > a span {
  margin-right: 8px;
  line-height: 0;
}

.default-page .header > a .btn {
  cursor: pointer;
}

.default-page .header .btn {
  display: flex;
  align-items: center;
  width: auto;
  padding: 8px 12px;
}

.default-page .header .return-page {
  display: flex;
  align-items: center;
  width: auto;
}

.default-page .header .return-page p {
  font-family: var(--serif);
  font-size: 24px;
  color: var(--color-black);
  margin-left: 12px;
}
